{% extends "workout/workout_list.html" %}
{#{% load mezzanine_tags comment_tags keyword_tags rating_tags i18n future disqus_tags %}#}
{% load mezzanine_tags keyword_tags i18n future staticfiles %}

{% block meta_title %}{{ workout.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for workout as tags %}
{% for tag in tags %}{% if not forloop.first %}, {% endif %}{{ tag }}{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ workout.description }}
{% endmetablock %}{% endblock %}

{% block extra_js %}
{{ block.super }}
<script type="text/javascript" src="{% static "flot/jquery.flot.js" %}">
</script>
<script type="text/javascript">
var options = {
    yaxes: [ {}, {max: 20 } ]
}
var data = [
    {
        label: "Heartbeat",
        data: [
            {% for record in workout.records.all %}
                [ {{record.distance}}, {{record.heart_rate|default_if_none:"0"}}]{% if not forloop.last %},{% endif %}
            {% endfor %}
        ]
    },
    {
        label: "Speed",
        data: [
            {% for record in workout.records.all %}
                [ {{record.distance}}, {{record.speed|default_if_none:"0"}}]{% if not forloop.last %},{% endif %}
            {% endfor %}
        ],
        yaxis: 2
    }
]
$(document).ready(function() {
    $.plot($('#graph'), data, options);
})
</script>
{% endblock %}

{% block title %}
{% editable workout.title %}{{ workout.title }}{% endeditable %}
{% endblock %}

{% block breadcrumb_menu %}
{{ block.super }}
<li class="active">{{ workout.title }}</li>
{% endblock %}

{% block main %}

{% block workout_detail_postedby %}
{% editable workout.publish_date %}
<h6>
    {% trans "Posted by" %}:
    {% with workout.user as author %}
    <a {#href="{% url "workout_list_author" author %}"#}>{{ author.get_full_name|default:author.username }}</a>
    {% endwith %}
    {% blocktrans with sometime=workout.publish_date|timesince %}{{ sometime }} ago{% endblocktrans %}
</h6>
{% endeditable %}
{% endblock %}

<div class="workout_details">
    <div class="row-fluid">
        <div class="span4">
            <h3>Totals</h3>
            <dl>
                <dt>Time<dd>{{ workout.total_elapsed_time }} / {{ workout.total_timer_time }}
                <dt>Distance<dd>{{ workout.total_distance }} km
                <dt>Ascent<dd>{{ workout.total_ascent }} m
                <dt>Calories<dd>{{ workout.total_calories }} cal
            </dl>
        </div>
        <div class="span4">
            <h3>Data</h3>
            <dl>
                <dt>Heart Rate<dd>Avg: {{ workout.avg_heart_rate }} bpm / Max: {{workout.max_heart_rate}} bpm
                <dt>Speed<dd>Avg: {{ workout.avg_speed }} m/s / Max: {{ workout.max_speed }} m/s
                <dt>Laps<dd>{{ workout.laps.count }} laps
                <dt>Data points<dd>{{ workout.records.count }} points
            </dl>
        </div>
        <div class="span4">
            <h3>Description</h3>
            {% block workout_detail_content %}
            {% editable workout.content %}
            {{ workout.content|richtext_filter|safe }}
            {% endeditable %}
            {% endblock %}
        </div>
    </div>
</div>

<ul class="nav nav-tabs">
    <li><a href="#tab-laps" data-toggle="tab">Laps</a></li>
    <li><a href="#tab-points" data-toggle="tab">Data points</a></li>
    <li class="active"><a href="#tab-graphs" data-toggle="tab">Graphs</a></li>
</ul>
<div class="tab-content">
    <div class="tab-pane" id="tab-laps">
        {#<h3>Laps</h3>#}
        <table class="table table-condensed table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Time (avg./max.) [secs]</th>
                    <th>Distance [m]</th>
                    <th>Speed (avg./max.) [m/s]</th>
                    <th>Heart Rate [bpm]</th>
                    <th>Ascent [m]</th>
                    <th>Calories [cal]</th>
                </tr>
            </thead>
            <tbody>
                {% for lap in workout.laps.all %}
                <tr>
                    <td>{{ lap.id }}</td>
                    <td>{{ lap.total_timer_time }} / {{ lap.total_elapsed_time }}</td>
                    <td>{{ lap.total_distance }}</td>
                    <td>{{ lap.avg_speed }} / {{ lap.max_speed }}</td>
                    <td>{{ lap.avg_heart_rate }} / {{ lap.max_heart_rate }}</td>
                    <td>{{ lap.total_ascent }}</td>
                    <td>{{ lap.total_calories }}</td>
                </tr>
                {% endfor %}
                <tr class="success">
                    <td>Totals</td>
                    <td>{{ workout.total_timer_time }} / {{ workout.total_elapsed_time }}</td>
                    <td>{{ workout.total_distance }}</td>
                    <td>{{ workout.avg_speed }} / {{ workout.max_speed }}</td>
                    <td>{{ workout.avg_heart_rate }} / {{ workout.max_heart_rate }}</td>
                    <td>{{ workout.total_ascent }}</td>
                    <td>{{ workout.total_calories }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="tab-pane" id="tab-points">
        {#<h3>All data points</h3>#}
        <table class="table table-condensed table-hover">
            <thead>
                <tr>
                    <th>Timestamp</th>
                    <th>Distance [km]</th>
                    <th>Altitude [m]</th>
                    <th>Speed [km/h]</th>
                    <th>Heart Rate [bpm]</th>
                </tr>
            </thead>
            <tbody>
                {% for record in workout.records.all %}
                <tr>
                    <td>{{ record.timestamp|date:"H:i:s" }}</td>
                    <td>{{ record.distance }}</td>
                    <td>{{ record.altitude }}</td>
                    <td>{{ record.speed }}</td>
                    <td>{{ record.heart_rate }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="tab-pane active" id="tab-graphs">
        <div id="graph-container" style="width: 600px; height: 400px;">
            <div id="graph" style="width: 100%; height: 100%;"></div>
        </div>
    </div>
</div>

<hr />

{% block workout_detail_keywords %}
{% keywords_for workout as tags %}
{% if tags %}
{% spaceless %}
<ul class="unstyled tags">
    <li>{% trans "Tags" %}:</li>
    {% for tag in tags %}
    <li><a href="{% url "workout_list_tag" tag.slug %}">{{ tag }}</a></li>
    {% endfor %}
</ul>
{% endspaceless %}
{% endif %}
{% endblock %}

{% block workout_detail_sharebuttons %}
{% set_short_url_for workout %}
<a class="btn small primary share-twitter" target="_blank" href="http://twitter.com/home?status={{ workout.short_url|urlencode }}%20{{ workout.title|urlencode }}">{% trans "Share on Twitter" %}</a>
<a class="btn small primary share-facebook" target="_blank" href="http://facebook.com/sharer.php?u={{ request.build_absolute_uri }}&amp;t={{ workout.title|urlencode }}">{% trans "Share on Facebook" %}</a>
{% endblock %}

{% block workout_previous_next %}
<ul class="pager">
{% with workout.get_previous_by_publish_date as previous %}
{% if previous %}
<li class="previous">
    <a href="{{ previous.get_absolute_url }}">&larr; {{ previous }}</a>
</li>
{% endif %}
{% endwith %}
{% with workout.get_next_by_publish_date as next %}
{% if next %}
<li class="next">
    <a href="{{ next.get_absolute_url }}">{{ next }} &rarr;</a>
</li>
{% endif %}
{% endwith %}
</ul>
{% endblock %}

{% block workout_detail_related_posts %}
{% if workout.related_posts.all %}
<div id="related-posts">
<h3>{% trans 'Related posts' %}</h3>
<ul class="unstyled">
{% for post in workout.related_posts.all %}
     <li><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></li>
{% endfor %}
</ul>
</div>
{% endif %}
{% endblock %}


{% endblock %}
